<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="container-fluid bg-dark text-light p-5"">
            <h1>SObre mim</h1>
            <p>oi sou o matheus e to utilizando ejs em outra pagina</p>
        </div>




    </main>


    <%- include('../partials/footer'); %>
</body>



</html>